crates/generator/tests/fixtures/calculator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<definitions name="CalculatorService"
  targetNamespace="http://example.com/calculator"
  xmlns="http://schemas.xmlsoap.org/wsdl/"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
  xmlns:tns="http://example.com/calculator"
  xmlns:xsd="http://www.w3.org/2001/XMLSchema">

  <types>
    <xsd:schema targetNamespace="http://example.com/calculator">
      <xsd:element name="AddRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="a" type="xsd:int"/>
            <xsd:element name="b" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="AddResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="result" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetHistoryRequest">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="limit" type="xsd:int"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
      <xsd:element name="GetHistoryResponse">
        <xsd:complexType>
          <xsd:sequence>
            <xsd:element name="entries" type="xsd:string" maxOccurs="unbounded"/>
          </xsd:sequence>
        </xsd:complexType>
      </xsd:element>
    </xsd:schema>
  </types>

  <message name="AddInput"><part name="parameters" element="tns:AddRequest"/></message>
  <message name="AddOutput"><part name="parameters" element="tns:AddResponse"/></message>
  <message name="GetHistoryInput"><part name="parameters" element="tns:GetHistoryRequest"/></message>
  <message name="GetHistoryOutput"><part name="parameters" element="tns:GetHistoryResponse"/></message>

  <portType name="CalculatorPortType">
    <operation name="Add">
      <input message="tns:AddInput"/>
      <output message="tns:AddOutput"/>
    </operation>
    <operation name="GetHistory">
      <input message="tns:GetHistoryInput"/>
      <output message="tns:GetHistoryOutput"/>
    </operation>
  </portType>

  <binding name="CalculatorBinding" type="tns:CalculatorPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <operation name="Add">
      <soap:operation soapAction="http://example.com/calculator/Add"/>
    </operation>
    <operation name="GetHistory">
      <soap:operation soapAction="http://example.com/calculator/GetHistory"/>
    </operation>
  </binding>

  <service name="CalculatorService">
    <port name="CalculatorPort" binding="tns:CalculatorBinding">
      <soap:address location="http://example.com/calculator"/>
    </port>
  </service>
</definitions>
